@font-face {
    font-family: 'epson1';
    src: url('/fonts/epson1.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'dotf1';
    src: url('/fonts/dotf1.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'cricket';
    src: url('/fonts/cricket.ttf');
    font-style: normal;
    font-weight: normal;
}

body {
    background-image: url('/images/base/wood-texture-006.jpg');
}

header {
    background-color: white;
}

.user-avatar {
    height: 50px;
    border-radius: 50%;
}

.lifted img {
    font-size:16px;
    font-weight:bold;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

.dropdown:hover {
    cursor: pointer;
}

.lifted {
    position:relative;
    padding:1em;
    margin:1em 10px 1em;
    background:#fff;
    border-radius:4px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-border-radius:4px;

}

.lifted:before,
.lifted:after {
    content:"";
    position:absolute;
    z-index:-2;
    bottom:15px;
    left:10px;
    width:50%;
    height:20%;
    max-width:300px;
    -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    -ms-transform:rotate(-3deg);
    -o-transform:rotate(-3deg);
    transform:rotate(-3deg);
}

.lifted:after {
    right:10px;
    left:auto;
    -webkit-transform:rotate(3deg);
    -moz-transform:rotate(3deg);
    -ms-transform:rotate(3deg);
    -o-transform:rotate(3deg);
    transform:rotate(3deg);
}

.flex-center {
    justify-content: center;
}

.w100 {
    width: 100%;
}

.category-title {
    text-align: center;
}

.product-card .image {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

.product-card .image img {
    margin-left: auto;
    margin-right: auto;
    transition: all ease-in-out 1.5s;
    transform-origin: center center
}

.product-card .image img:hover {
    transition: all ease-in-out 3.5s;
    transform: scale(1.1);
}

.product-image {
    max-width: 100%;
    height: auto;
    width: 100%;
}

.product-image-thumbs {
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2rem;
}

.product-image-thumb {
    box-shadow: 0 1px 2px rgba(0,0,0,.075);
    border-radius: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    display: -ms-flexbox;
    display: flex;
    margin-right: 1rem;
    max-width: 7rem;
    padding: .5rem;
}

.card-body {
    padding: .5em;
}

.card-img-top  {
    height: 200px;
}

.check {
    font-family: dotf1;
    color: #9050E0;
}

.check thead {
    border-bottom: 3px dashed #9050E0;
}
.check tfoot {
    font-weight: bold;
    border-top: 3px dashed #9050E0;
}

.delivery-table label {
    width: 100%;
    height: 100%
}
