<template>
    <div class="container-fluid">
        <div class="row flex-center">
            <div class="col-12">
                <form method="post" :action="this.route">
                    <input type="hidden" name="_token" :value="csrf">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="card my-2">
                                <div class="card-header">
                                    <div class="card-title cart-table-title">
                                        <h2>Корзина</h2>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <table class="table table-sm check">
                                        <thead>
                                        <th></th>
                                        <th></th>
                                        <th>Наименование</th>
                                        <th>Цена</th>
                                        <th>Количество</th>
                                        <th>Сумма</th>
                                        </thead>
                                        <tbody>
                                        <tr v-for="item in basket.items">
                                            <td><span v-on:click="delete_product(item.id)" class="delete-item"><i class="fa fa-times"></i></span></td>
                                            <td></td>
                                            <td>
                                                <input type="hidden" name="product_id[]" v-model="item.id">
                                                {{ item.name }}
                                            </td>
                                            <td>
                                                <input type="hidden" name="price[]" v-model="item.price">
                                                {{ item.price }}
                                            </td>
                                            <td>
                                                <input type="number" v-on:change="change_quantity(item.id, item.quantity)" name="quantity[]" min="1" class="quantity" v-model="item.quantity">
                                            </td>
                                            <td>{{ item.quantity * item.price }}</td>
                                        </tr>
                                        <tr id="cart-delivery">
                                            <td></td>
                                            <td></td>
                                            <td id="cart-delivery-name">{{ delivery_type_name ? delivery_type_name : 'Способ доставки не выбран' }}</td>
                                            <td id="cart-delivery-price">{{ delivery_cost ? delivery_cost : 0 }}</td>
                                            <td></td>
                                            <td id="cart-delivery-summ">{{ delivery_cost ? delivery_cost_with_discount : 0 }}</td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td>Итого:</td>
                                            <td></td>
                                            <td>{{ total_quantity }}</td>
                                            <td>{{ total_price }}</td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="card my-2">
                                <div class="card-header">
                                    <div class="card-title cart-table-title">
                                        <h2>Способ доставки</h2>
                                    </div>
                                </div>
                                <div class="card-body delivery-table">
                                    <table class="table table-hover">
                                        <thead>
                                            <th></th>
                                            <th>Вид</th>
                                            <th>Стоимость</th>
                                            <th>Адрес пункта выдачи</th>
                                        </thead>
                                        <tbody>
                                            <tr v-for="delivery in deliveries">
                                                <td><input type="radio" name="delivery_id" :checked="old.delivery_id == delivery.id" :id="delivery.id" :value="delivery.id" :price="delivery.price" v-on:change="change_delivery_type(delivery)"></td>
                                                <td><label :for="delivery.id">{{ delivery.name }}</label></td>
                                                <td>{{ delivery.price }}</td>
                                                <td v-if="delivery.pickup">{{ delivery.pickup_address }}</td>
                                                <td v-else></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="card my-2">
                            <div class="card-header">
                                <div class="card-title cart-table-title">
                                    <h2>Данные покупателя</h2>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <input type="text" class="form-control required" v-model="username" name="name" placeholder="Имя (обязательно)">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control required" v-model="email" name="email" placeholder="E-mail (обязательно)">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control required" v-model="phone" name="phone" placeholder="Телефон (обязательно)">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" v-model="address" name="address" placeholder="Адрес">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="comment" placeholder="Комментарий"></textarea>
                                </div>
                            </div>
                            <div class="card-footer"></div>
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <input class="btn btn-secondary submit" type="submit" value="Оформить">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'cart',
            'user',
            'deliveries',
            'route',
            'csrf',
            'old'
        ],
        data() {
            return {
                basket: this.cart,
                delivery_cost: this.delivery_cost,
                delivery_type_name: this.delivery_type_name,
                username: this.old.name ? this.old.name : this.user.name,
                email: this.old.email ? this.old.email : this.user.email,
                phone: this.old.phone ? this.old.phone : this.user.phone,
                address: this.old.address ? this.old.address : this.user.address
            }
        },
        computed: {
            total_quantity() {
                let total = 0;
                Object.values(this.cart.items).forEach(function (item) {
                    total += parseInt(item.quantity);
                });

                return total;
            },
            total_price() {
                var total = 0;
                Object.values(this.cart.items).forEach(function (item) {
                    total += parseInt(item.quantity) * parseFloat(item.price);
                });
                total += this.delivery_cost_with_discount;

                return total;
            },
            delivery_cost_with_discount() {
                var total = 0;
                Object.values(this.cart.items).forEach(function (item) {
                    total += parseInt(item.quantity) * parseFloat(item.price);
                });
                var delivery_discount = parseInt(total / 1000) * 50;
                var delivery_cost = this.delivery_cost - delivery_discount;
                delivery_cost = delivery_cost > 0 ? delivery_cost : 0;

                return delivery_cost;
            }
        },
        mounted() {
            this.delivery_cost = 0;
            this.delivery_type_name = '';
            console.log(this.deliveries.length);
            if (this.old.delivery_id) {
                var selected_id = parseInt(this.old.delivery_id);
                for (var i = 0; i < this.deliveries.length; i++) {
                    if (this.deliveries[i].id === selected_id) {
                        this.delivery_cost = this.deliveries[i].price;
                        this.delivery_type_name = this.deliveries[i].name;
                    }
                }
            }
        },
        methods: {
            delete_product: function(id) {
                axios.get('/cart/remove/'+id);
                Vue.delete(this.cart.items, id);
            },
            change_quantity: function (id, quantity) {
                axios.post('/cart/change', { id, quantity });
            },
            change_delivery_type: function (delivery) {
                this.delivery_type_name = delivery.name;
                this.delivery_cost = delivery.price;
            }
        }
    }
</script>
<style>
    .delete-item {
        color: red;
        cursor: pointer;
    }

    .quantity {
        box-sizing: border-box;
        border-radius: 7px;
        padding-left: 10px;
        border: 1px solid #cccccc;
        outline: none;
        width: 50px;
        height: 37px;
    }

    .required::after {
        content: "*";
    }

    .submit {
        width: 100%;
        font-family: cricket;
        font-size: 1.5em;
    }

    .cart-table-title {
        font-family: cricket;
    }
</style>
